<!-- Navigation -->
<nav class="backdrop-blur-md bg-black/70 fixed w-full z-50 top-0 border-b border-white/10">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <img src="assets/logos/C4G_combine_logo.png" alt="C4 Group Logo" class="h-8">
                </div>
            </div>
            <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-8">
                    <a href="#home"
                        class="text-gray-300 hover:text-blue px-3 py-2 rounded-md text-sm font-bold transition-colors duration-300">Home</a>
                    <a href="#publications"
                        class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-bold transition-colors duration-300">Publications</a>
                    <a href="#people"
                        class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-bold transition-colors duration-300">People</a>
                </div>
            </div>
            <div class="md:hidden">
                <button id="mobile-menu-button" class="text-black hover:text-white focus:outline-none">
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Mobile menu -->
    <div id="mobile-menu" class="hidden md:hidden bg-black transition-all duration-300 ease-in-out">
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
            <a href="#home"
                class="text-gray-300 hover:text-white block px-3 py-2 rounded-md text-base font-bold">Home</a>
            <a href="#publications"
                class="text-gray-300 hover:text-white block px-3 py-2 rounded-md text-base font-bold">Publications</a>
            <a href="#people"
                class="text-gray-300 hover:text-white block px-3 py-2 rounded-md text-base font-bold">People</a>
        </div>
    </div>
</nav>
